#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  background-color: white;
  color: black;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title-card {
  display: 
}

.project-title {
  font: inter;
  font-weight: bold;
}

.tagline {
  font: inter;
  font-weight: bold;
}

.makers-prime {
  display: flex;
  justify-content: space-evenly
}

.makers {
  font: inter;
  font-weight: bold;
}

.zakk {
  font: inter;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 4px;
}

.eoaan {
  font: inter;
  font-weight: bold; 
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 4px;
}

.placeholder {
  background-color: teal;
  text-color: white;
}

body {
  background-color: white;
}