name: api build
on:
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  build-api:
    name: push to ghcr
    runs-on: ubuntu-22.04
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v3
      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: api -> api

      - run: cargo build --package fulcrum-api
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: izfs-api
          path: ./target/debug/izfs-api
          retention-days: 1